div.star-holder {
	position: relative;
}

div.star-holder div.star {
	float: left;
	width: 16px;
}


.already-rated p {
	margin-left: 76px;
}

.already-rated blockquote {
	position: relative;
	margin-left: 76px;
	font-style: italic;
	padding: 10px 100px 10px 10px;
	background: #edeee6;
}

.already-rated .rest-stars {
	position: absolute;
	top: 10px;
	right: 20px;
}

.widget span.rating-num {
	display: block;
	font-size: 8pt;
	clear: both;
}

#review-rating {
	margin-top: 12px;
}

form#whats-new-form.review-form #whats-new-submit {
	margin-top: 8px;
}